# Application
html/content/plugins/*
!html/content/plugins/.gitkeep
html/content/mu-plugins/*/
html/content/upgrade
html/content/uploads/*
!html/content/uploads/.gitkeep

# WordPress
html/wp
html/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor